@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Fredoka:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.page {
    font-family: 'Azeret Mono', monospace;
    background-color: #EFECEA;
    font-weight: 500;
    min-height: 100vh;
    padding-left: 10em; /*Space for the sidebar, should be increased when the sidebar symbol is clicked */
}

.layout {
    display: grid;
    flex-shrink: 0;
    align-self: stretch;
    grid-template-rows: repeat(1,minmax(0,1fr));
    grid-template-columns: 45% 55%;
    gap: 24px;
    min-height: 65vh;
    
}

/* Style for the header section */
header {
    padding: 20px;
    padding-bottom: 1.5em;
    text-align: left;
    padding-left: 3em;
}

header h1 {
    font-size: 2em;
    color: black;
    font-weight: 600;
}

header h3 {
    font-size: 1.2em;
    color: #4A5565;
    font-weight: 500;
}
/* End of header styles */




/* Style for the request form section */
.form-column {
    background-color: white;
    border-radius: 10px;
    padding-left: 2.3em;
    padding-top: 1.3em;
    margin: 0 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 92%;
    text-align: left;
    
}

.form-column h2 {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.form-column form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-column input, textarea {
    background-color: #f5f5f5;
    border: none;
    border-radius: 6px;
    padding: 8px 1px 18px 12px;
    
    font-family: inherit;
    width: 95%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}

.form-column button[type="submit"] {
    width: 95%;
    background: #c6f135;
    border: none;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 0em;
    cursor: pointer;
    color: #1a1a1a;
    font-family: 'Azeret Mono', monospace;
    font-weight: bold;
}

/* End of form styles */




/* Style for the recent requests section */
.recents-column {
    width: 70%;
    text-align: left;
}

.recents-column h2 {
    margin: 0 auto;
    font-weight: 500;
    padding-left: 1em;
}

.recent-request-container {
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: stretch;
}

.recent-request-details{
    display: flex;
    flex-direction: row;
    gap: 28%;
    
}

.recent-request-details .status-approved, .recent-request-details .status-pending, .recent-request-details .status-rejected {
    display: flex;
    align-items: top;
    justify-content: right;
    text-align: right;
    padding: 0.75em 0.75em 0.55em 0.75em;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 500;
    height: 20px;
}

.status-approved, .status-pending, .status-rejected {
    border-radius: 3.402820018375656e+38px;
}

.status-approved {
    background-color: #DCFCE7;
    color: #016630;
}

.status-pending {
    background-color: #FEF9C2;
    color: #894B00;
}
.status-rejected {
    background-color: #e26868;
    color: white;
}

.recent-request-item{
    background-color: white;
    border-radius: 12px;
    padding: 0.75em 1em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-request-item p strong {
    color: #1a1a1a;
}

.recent-request-item p {
     color: #4A5565;
}

.recent-request-container .additional-requests-history{
    display: flex;
    height: 76px;
    padding: 26px 26px 2px 26px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 10px;
    border: 2px dashed #D1D5DC;
    color: #4A5565;
}
/* End of form and recent requests styles */
